.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px;
}

.button {
  background: whitesmoke;
  cursor: pointer;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

textarea {
  width: 300px;
  height: 50px;
  font-size: 20px;
  outline: none;
}
